.main-container{
    width: 90vw;
    height: 90vh;
    border: 1px solid black;
    margin: auto;
    padding: 1.5rem;
    display: grid;
    place-items: center;
    grid-template-areas: 
        'red-box triangle teal-box'
        'pink-box circle teal-box'
        'green-box green-box green-box'
    ;
}

.red-box{
    height: 250px;
    width: 350px;
    background-color: #FF5757;
    grid-area: red-box;
}

.pink-box{
    height: 250px;
    width: 350px;
    background-color: #FF66C4;
    border-radius: 20%;
    grid-area: pink-box;
}

.triangle{
    width: 0;
    height: 0;
    border-top: 175px solid transparent;
    border-left: 350px solid #FEBC59;
    border-bottom: 175px solid transparent;
}

.circle{
    width: 250px;
    height: 250px;
    border: 5px solid #A5ECEF;
    border-radius: 50%;
    grid-area: circle;
}

.teal-box{
    width: 600px;
    height: 650px;
    background-color: teal;
    border-radius: 20%;
    grid-area: teal-box;
}

.green-box{
    width: 100%;
    height: 100px;
    background-color: #7ED957;
    grid-area: green-box;
}
